table,td{

    font-size: 20px;
    border:2px solid black
}
 table {
     width:500px;
    text-align: center;
 }
 button{
     height: 30px;
     width: 100px;
     background-color:yellow;
 }

 .parent {
    background-color: rgb(179, 252, 252);
 }